html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 100%;
}

.content {
    background: rgba(0, 0, 0, 1);
    /* background-image: url('http://image.namedq.com/uploads/20190303/20/1551615923-aeqjFNyWcg.jpg'); */
    background-position: center;
    height: 100%;
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    overflow-y: auto;
}

p.title {
    margin: 0;
    color: white;
    font-size: 5em;
    position: relative;
    top: 40%;
    bottom: 60%;
    text-align: center;
    width: 100%;
    transition: font-size 500ms;
}

@keyframes titleHoverAnim {
    to {
        font-size: 6em;
    }
}

p.title:hover {
    font-size: 5.5em;
}

a {
    text-decoration: none;
    font-size: 1.1em;
    color: white;
    line-height: 1.5em;
}