#directory {
    background: rgba(247, 247, 247, 0.8);
    border-radius: 6px;
    border: 1px solid rgba(247, 247, 247, 1);
    position: fixed;
    white-space: nowrap;
    list-style-type: none;
    list-style-position: unset;
    font-size: 0.5em;
    box-sizing: border-box;
    margin-left: 9px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    overflow-x: auto;
    width: max-content;
    max-width: 15%;
    overflow-y: auto;
    height: max-content;
    max-height: calc(100% - 200px);
    scrollbar-width: 1px;
    opacity: 0.3;
    transition: 800ms;
}

#directory::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

#directory:hover {
    opacity: 1;
    background: rgba(247, 247, 247, 0.8);
}

#directory a {
    margin: 0;
    padding: 0;
    color: grey;
    line-height: 25px;
}

#directory a:hover {
    color: black;
}

#directory li {
    display: block;
}