html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 100%;
}

section.content {
    background: black;
    background-image: url('../res/img/background3.jpg');
    background-position: center;
    height: 100%;
    background-attachment: fixed;
    /* -webkit-background-attachment: fixed; */
    background-size: contain;
    background-repeat: no-repeat;
    /* -webkit-background-size: cover; */
    animation: bgAnim 5s alternate infinite;
}

p.title {
    margin: 0;
    color: white;
    font-size: 5em;
    position: relative;
    top: 40%;
    bottom: 60%;
    text-align: center;
    width: 100%;
    transition: font-size 500ms;
}

@keyframes bgAnim {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 0.8;
    }
}

@keyframes titleHoverAnim {
    to {
        font-size: 6em;
    }
}

p.title:hover {
    font-size: 5.5em;
}